
<footer>
	<div class="container d-sm-flex justify-content-sm-between">

		<div class="small">
			<i class="far fa-envelope fa-lg align-middle me-1"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
		</div>

		<div id="social" class="my-2 my-sm-0 order-sm-3">
			<a href="https://www.linkedin.com/in/{{ site.linkedin }}" title="LinkedIn"><i class="fab fa-lg fa-linkedin"></i></a>
			<a href="https://twitter.com/{{ site.twitter }}" title="Twitter"><i class="fab fa-lg fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github }}" title="GitHub"><i class="fab fa-lg fa-github"></i></a>
			<a href="https://codepen.io/{{ site.codepen }}" title="Codepen"><i class="fab fa-lg fa-codepen"></i></a>
			<!-- <a href="https://instagram.com/{{ site.instagram }}" title="Instagram"><i class="fab fa-lg fa-instagram"></i></a> -->
		</div>

		<div class="small">&copy; 2020 {{ site.title }}</div>

	</div>
</footer>