<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleanalytics }}"></script>
	<script>
		if (document.location.hostname != 'localhost') {
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', '{{ site.googleanalytics }}');
		}
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ site.title }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="3D art, 3D artist, digital art, digital artist, modeler, 3D modeler, 3D modeling, sculptor, digital sculptor, digital sculpting, character art, character artist, Maya, ZBrush, Sublime Text, Three.js, javascript, HTML, CSS, interactive, interaction, WebGL, WebVR, WebXR, virtual reality, augmented reality, front end web developer, UI developer, software engineer, user interface">

	<link rel="icon" href="{{ "/favicon-32.png" | relative_url }}">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %} | {{ site.title }}</title>

	<!-- Facebook Open Graph Protocol http://ogp.me/ -->
	<meta property="og:title"         content="{{ site.title }}" />
	<meta property="og:type"          content="profile" />
	<meta property="og:image"         content="{{ "thumb.png" | absolute_url }}" />
	<meta property="og:url"           content="{{ site.url }}" />
	<meta property="og:description"   content="{{ site.description }}" />
	<meta property="og:site_name"     content="{{ site.title }}" />
	<meta property="fb:app_id"        content="{{ site.fbappid }}" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@{{ site.twitter }}" />
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="{{ "thumb.png" | absolute_url }}" />

	<!-- Pinterest -->
	<meta name="p:domain_verify" content="7685fd3ef995a0dfe57a48656e270ff1"/>

	<meta name="theme-color" content="#0080ff">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">

	{% if page.gallery %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
	{% endif %}

	<link href="{{ "/styles/style.css" | relative_url }}" rel="stylesheet">

</head>