<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleanalytics }}"></script>
	<script>
		if (document.location.hostname != 'localhost') {
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', '{{ site.googleanalytics }}');
		}
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ site.title }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="3D art, 3D artist, digital art, digital artist, modeler, 3D modeler, 3D modeling, sculptor, digital scultor, digital sculpting, character art, character artist, Maya, ZBrush, Sublime Text, Adobe CC, interactive, interaction, Three.js, WebGL, WebVR, javascript, virtual reality">

	<link rel="icon" href="{{ "/favicon-32.png" | relative_url }}">

	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

	<!-- Facebook Open Graph Protocol http://ogp.me/ -->
	<meta property="og:title"         content="{{ site.title }}" />
	<meta property="og:type"          content="profile" />
	<meta property="og:image"         content="{{ "thumb.png" | absolute_url }}" />
	<meta property="og:url"           content="{{ site.url }}" />
	<meta property="og:description"   content="{{ site.description }}" />
	<meta property="og:site_name"     content="{{ site.title }}" />
	<meta property="fb:app_id"        content="{{ site.fbappid }}" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@{{ site.twitter }}" />
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="{{ "thumb.png" | absolute_url }}" />

	<meta name="theme-color" content="#0080ff">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link href="{{ "/styles/style.css" | relative_url }}" rel="stylesheet">

</head>