<header>
	<div class="container">
		<h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
		<p>{{ site.description }}</p>
		<p><i class="far fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		<p id="social">
			<a href="https://www.linkedin.com/in/{{ site.linkedin }}" title="LinkedIn"><i class="fab fa-2x fa-linkedin"></i></a>
			<a href="https://twitter.com/{{ site.twitter }}" title="Twitter"><i class="fab fa-2x fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github }}" title="GitHub"><i class="fab fa-2x fa-github"></i></a>
			<a href="https://codepen.io/{{ site.codepen }}" title="Codepen"><i class="fab fa-2x fa-codepen"></i></a>
		</p>
	</div>
</header>