
<div class="scripts d-none">

	{% if page.gallery %}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
		<script src="{{ "/scripts/gallery.js" | relative_url }}"></script>
	{% endif %}

	{% if page.masonry %}
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		<script src="{{ "/scripts/masonry.js" | relative_url }}"></script>
	{% endif %}

	{% if page.collapse %}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script>
			$('[data-toggle="collapse"] a').click(function(e){
				e.stopPropagation();
			});
		</script>
	{% endif %}

	<script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r115/build/three.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r115/examples/js/loaders/GLTFLoader.js"></script>

	<script src="{{ "/scripts/dist/app.min.js" | relative_url }}"></script>

</div>