
<div class="scripts d-none">

	{% if page.gallery %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
		<script src="{{ "/scripts/gallery.js" | relative_url }}"></script>
	{% endif %}

	{% if page.masonry %}
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		<script src="{{ "/scripts/masonry.js" | relative_url }}"></script>
	{% endif %}

	{% if page.collapse %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script>
			$('[data-toggle="collapse"] a').click(function(e){
				e.stopPropagation();
			});
		</script>
	{% endif %}

	<script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r117/build/three.js"></script>

	<script src="{{ "/scripts/dist/app.min.js" | relative_url }}"></script>

</div>