body.dark {

	background: #222;
	color: #ccc;

	$blue: #1ac6ff;

	a {
		color: $blue;

		&:hover {
			color: lighten($blue, 15%);
		}
	}

	a[class*='btn'],
	.sketches .gifs a {
		color: #fff;
	}

	header {
		border-bottom-color: rgba(255,255,255,.2);
		background: #333;
	}

	.nav-link {

		&::after {
			background-color: rgba(255,255,255,0.2);
		}

		&.active:hover::after {
			background-color: rgba(255,255,255,0.4);
		}
	}

	#social {
		a {
			color: #777;

			&:hover {
				color: #999;
			}
		}
	}

	.card {
		background-color: #3a3a3a;
	}

	a.card {
		&:hover {
			color: #fff;
			background-color: #444;
		}
	}

	.home {
		a.card {
			transition: background-color 200ms, color 200ms, box-shadow 200ms;

			&:hover {
				box-shadow: 0 10px 10px rgba(0,0,0,0.1);
			}
		}
	}

	#content {
		background: #2f2f2f;
	}

	hr {
		border-top-color: rgba(255,255,255,.1);
	}

	footer {
		color: #555;
		border-top-color: transparent;
	}

	.highlight {
		border-color: rgba(0,0,0,0.1);
	}

	.thumbnails a {
		border-color: rgba(255,255,255,0.2);

		&:hover {
			border-color: rgba(255,255,255,0.5);
		}
	}

	.border {
		border: 1px solid #545454 !important;
	}
}