// three.js canvas
#logo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#brand {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;

  h1 {
    font-family: 'Rubik', sans-serif;
  }

  a:hover {
    color: #fff;
  }
}

#desc {
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
}

header {
  position: relative;
  text-align: center;
  padding: 23px 0;
  border-bottom: 1px solid rgba(#000, 0.1);
  background: #333;

  .container {
    position: relative;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.nav .nav-link {
  font-weight: bold;
  position: relative;
  padding: 0.6rem 1.4rem;
  color: rgba(#fff, 0.6);

  &:hover {
    color: $blue;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #232323;
}

// .nav .nav-link + .nav-link {
//   margin-left: 2px;
// }
