#header-bg {
	position: absolute;
	top: 0;
	overflow: hidden;
}

header {
	position: relative;
	text-align: center;
	padding: 20px 0 0;
	border-bottom: 1px solid rgba(0,0,0,.2);
	background: #fff;

	.container {
		position: relative;
	}

	h1 {
		font-size: 1.8rem;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	h2 {
		font-size: 1.2rem;
	}
}

.nav .nav-item + .nav-item {
	margin-left: 2px;
}

.nav-link {
	font-weight: bold;
	padding: 19px 22px;
	position: relative;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		transition: height 200ms, background-color 200ms;
		background-color: rgba(0,0,0,0.2);
		content: '';
	}

	&:hover::after,
	&.active::after {
		height: 4px;
	}

	&.active:hover::after {
		background-color: rgba(0,0,0,0.4);
	}
}

#social {
	margin-top: 6px;

	a {
		color: #aaa;
		font-weight: normal;

		+ a {
			margin-left: 6px;
		}

		&:hover {
			color: #888;
		}
	}
}

@media (min-width: 768px) {
	#social {
		position: absolute;
		top: 0;
		right: 15px;
	}

	header {
		text-align: initial;
	}

	header .container {
		position: relative;
		padding-bottom: 20px;
	}

	header nav {
		position: absolute;
		bottom: 0;
		right: 15px;
	}

	.nav {
		justify-content: flex-end !important;
	}
}