.thumb-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 1px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }

  &.grid-lg-4 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.grid-lg-7 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  a {
    opacity: 0.75;
    transition: opacity 200ms ease-in-out, color 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }
}

.home-grid {
  grid-gap: 10px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  #moto {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  #within {
    grid-column-end: span 3;
    grid-row-end: span 2;
  }

  #intro {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
}

@media (min-width: 992px) {
  .home-grid {
    grid-template-columns: repeat(10, 1fr);
  }

  #moto {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  #within {
    grid-column: 5 / span 3;
    grid-row: 1 / span 2;
  }

  #intro {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
}
