
// Characters which are escaped by the escape-svg function
// prettier-ignore
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
);

@import 'functions';
@import 'pygments/base16-eighties-dark';
@import 'animate';
@import 'magnific-popup';
@import 'header';
@import 'thumb-grid';
@import 'resume';

html {
	font-size: 0.94rem;
}

body {
	line-height: 1.7;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #2a2a2a;
	color: #ccc;

	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.2px;

	// fix for magnific pop up pushing body to the left
	&.lightbox {
		overflow-y: auto;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
}

$blue: #1ac6ff;

a {
	color: $blue;
	text-decoration: none;
	transition: color 200ms;

	&:hover {
		color: lighten($blue, 15%);
		text-decoration: none;
	}
}

a[class*='btn'],
.sketches .gifs a {
	color: #fff;
}

.card {
	background-color: #3a3a3a;
}

a.card {
	transition: background-color 200ms, color 200ms;

	&:hover {
		color: #fff;
		background-color: #444;
	}
}

.home {
	a.card {
		font-weight: bold;
		transition: background-color 200ms, color 200ms, box-shadow 200ms;

		&:hover {
			color: #fff;
			box-shadow: 0 10px 10px rgba(0,0,0,0.1);
		}
	}
}

.border {
	border: 1px solid #545454 !important;
}

#content {
	padding: 2.5rem 0;
	background: #2f2f2f;
}

#social {
	a {
		color: #555;
		font-weight: normal;

		+ a {
			margin-left: 6px;
		}

		&:hover {
			color: #777;
		}
	}
}

footer {
	text-align: center;
	color: #555;
	padding: 20px 0;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top-color: rgba(255,255,255,.1);
}

::selection {
	background: #555;
}

.highlight {
	background: #2a2a2a;
	line-height: 1.5;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;

	::selection {
		background: #444;
	}
}

pre {
	margin-bottom: 0;
}