
// @import 'pygments/github';
@import 'pygments/base16-eighties-dark';
@import 'animate';
@import 'magnific-popup';
@import 'header';
@import 'thumb-grid';
@import 'resume';

@import '_dark';

html {
	font-size: 0.94rem;
}

body {
	line-height: 1.7;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #ddd;

	// fix for magnific pop up pushing body to the left
	&.lightbox {
		overflow-y: auto;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
}

$blue: #0080ff;

a {
	color: $blue;
	text-decoration: none;
	transition: color 200ms;

	&:hover {
		color: darken($blue, 15%);
		text-decoration: none;
	}
}

a.card {
	transition: background-color 200ms, color 200ms;
}

.home {
	a.card {
		font-weight: bold;

		&:hover {
			color: #fff;
			background-color: $blue;
		}
	}
}

// for project pages
.container-narrow {
	@media (min-width: 768px) {
		max-width: 720px;
	}
}

#content {
	padding: 2rem 0;
	background: #fff;
}

footer {
	text-align: center;
	color: #999;
	padding: 20px 0;
	border-top: 1px solid rgba(0,0,0,.2);
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.highlight {
	background: #2a2a2a;
	line-height: 1.5;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;

	::selection {
		background: #999;
	}
}

pre {
	margin-bottom: 0;
}